* {
	font-family:initial;
	font-size:x-large;
	color:black
}

body {
    background: #c7b39b url(../picture/main.jpg); 
    color: #fff;
   }

.mainmenu {
    list-style:none;
	display:inline-block
}

.mainmenu__item {
    position:relative;
    float:left
}

a {
    text-decoration:none;
    padding:4px 50px;
	font-size:-webkit-xxx-large
}
.mainmenu__item a:hover {
    background-color:#ff0000;
    color:#ffffff
}
.mainmenu__item__active{
	pointer-events: none
}
.mainmenu__item__active a{
	color:gray
}

.logo {
	display:inline-block;
	margin:20px;
	margin-top:40px;
	margin-right:10%;
	float:left
}

.logo a
{
	color: #ff0000;
	font-weight:900
}

.toplist 
{
	margin-left:13%
}
.startgame a
{
	background-color:#ff0000;
	margin-top:20%;
	font-weight:500;
	border-width: 7px;
	border-color:#ff0000;
	border-style:inset
}
.startgame
{
	margin-top:25%;
	margin-left:5%
}